* {
    margin: 0;
    padding: 0;
}

#header {
    width: 100%;
    height: 80px;
    background-color: #333;
}

#footer {
    height: 100px;
    width: 100%;
    background-color: #333;
    text-align: center;
}

#header-content {
    margin: 0 auto;
    width: 960px;
}

#logo {
    float: left;
    margin-top: 6px;
}

#title {
    width: 500px;
    height: 50px;
    margin: 0 auto;
    line-height: 80px;
    text-align: center;
    color: #ccc;
    font-family: "楷体";
    font-size: 50px;
}

#instruction {
    line-height: 100px;
}
.each{
    padding: 10px 0;
}
.main {
    margin: 0 auto;
    width: 700px;
    min-height: 900px;
}
hr{
    margin: 10px 0;
    height: 1px;
    border: none;
    background: #ccc;
}
.toAdmin {
    display: inline-block;
    position: relative;
    width: 140px;
    height: 30px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    font: bold 12px/25px Arial, sans-serif;
    float: right;
}

.type {
    font-size: 14px;
    margin-bottom: 5px;
}

.name {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}
.mail{
    font-size: 14px;
}
.button {
    float: right;
    height: 45px;
    width: 85px;
    background-color: transparent;
    margin-top: -30px;
    color: #fff;
    border-radius: 3px;
    border: 1px solid #fff;
    margin-right: 50px;
}

.button:hover {
    transition: all .9s;
    -webkit-transition: all .9s;
    -moz-transition: all .9s;
    background-color: #999;
    border-color: #999;
    color: #000;
}